<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @trip, class: "edit-trip" do |f| %>
  <p><%= "Use this form to edit a trip" %></p>
    <%= f.label :cost%>
    <%= f.text_field :cost%>

    <%= f.label :rating%>
    <%= f.text_field :rating%>

    <%= f.label :driver%> 
    <%= f.select :driver_id, Driver.all.map {|driver| [driver.name, driver.id] } %>

  <%= f.submit "Edit trip", class: "trip-form__submit-btn" %>
<% end %>