<h2><%= @passenger.name%></h2>

<ul>
<% @passenger.trips.each do |trip| %>
  <li> 
  <%= "Trip ID: #{trip.id}"%>
  </li>
  <li> 
  <%= "Trip Date: #{trip.date}"%>
  </li>
  <li> 
  <%= "Driver Name: #{Driver.find(trip.driver_id).name}"%>
  </li>
     <li> 
  <%= "Price: $#{trip.cost / 100}"%>
  </li>
     <li> 
  <%= "Rating: #{trip.rating}"%>
  </li>
  <%# link to edit 
  link to delete %>
<% end %>
</ul>